@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: gorditaBold;
  src: url(/Gordita-Bold.otf);
}
@font-face {
  font-family: barlow;
  src: url(/barlow.ttf);
}

:root {
  --accent-color: #005d72;
  --accent-color2: #28e500;
  --text-color: #737373;
  --bg-color: white;
  --const: #e4e6eb;
}

* {
  font-family: barlow;
}

body {
  background-color: var(--bg-color);
}

.pageHeight {
  min-height: calc(100vh - 64px);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bannerText {
  font-family: gorditaBold;
  font-size: 28px;
  font-weight: 800;
  line-height: 44px;
  letter-spacing: 0.2px;
}

@media screen and (max-width: 850px) {
  .bannerText {
    font-family: gorditaBold;
    font-size: 20px;
    font-weight: 800;
    line-height: 35px;
    letter-spacing: 0.2px;
  }
}

.headerText {
  font-family: gorditaBold;
  font-size: 24px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.2px;
}
.headerText2 {
  font-family: gorditaBold;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.headerInfo {
  font-family: gorditaBold;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.1px;
}
.headerInfo2 {
  font-family: gorditaBold;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.1px;
}
.bodyText {
  font-family: barlow;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.1px;
}
.bodyInfo {
  font-family: barlow;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.1px;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 5px #005d72;
  }
  50% {
    box-shadow: 0 0 20px #005d72, 0 0 30px #005d72;
  }
  100% {
    box-shadow: 0 0 5px #005d72;
  }
}

.glowing-element {
  animation: glowing 1.5s infinite;
}
